extends ../layout/base

block js
	- var getListMeta = function(list) { return _.pick(list, ['key', 'label', 'path']); }
	script.
		Keystone.nav = !{JSON.stringify(nav)};
		Keystone.lists = !{JSON.stringify(_.map(lists, getListMeta))};
		Keystone.orphanedLists = !{JSON.stringify(orphanedLists.map(getListMeta))};
	script(src='/keystone/js/packages.js')
	script(src='/keystone/js/home.js')

block content
	.container: .jumbotron
		h1 Welcome
		p Welcome to Ocean Park CMS
		if User && user
					|  You are signed in as 
					//- a(href='/keystone/' + User.path + '/' + user.id)= User.getDocumentName(user)
					a(href='/admin/user')= User.getDocumentName(user)
					| .
