.language-tab a {
    margin: 1px;
    padding: 5px 10px;
    border: 1px solid #0080BF;
}
.language-tab a.current {
    background: #0080BF;
    color: white;
}
.language-tab{
	height: 35px;
}
.preview{
	display:none;
	border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 6px 15px;

}
.preview-btn{
    height: 30px;
}
.preview-btn > a 
.close-preview-btn{
	cursor: pointer;
}
.lang-title{
	color: #0080BF;
}
